@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    color: white;
  }

  .reset-common-blog-css blockquote,
  .reset-common-blog-css dl,
  .reset-common-blog-css dd,
  .reset-common-blog-css h1,
  .reset-common-blog-css h2,
  .reset-common-blog-css h3,
  .reset-common-blog-css h4,
  .reset-common-blog-css h5,
  .reset-common-blog-css h6,
  .reset-common-blog-css figure,
  .reset-common-blog-css p,
  .reset-common-blog-css pre,
  .reset-common-blog-css ol,
  .reset-common-blog-css ul,
  .reset-common-blog-css li {
    font-size: revert !important;
    font-weight: revert !important;
    list-style: revert !important;
    margin: revert !important;
    padding: revert !important;
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
  }
  .reset-common-blog-css ul {
    padding: 0 !important;
  }

  .reset-common-blog-css p {
    font-weight: 200 !important;
  }

  .reset-common-blog-css hr {
    border-width: 0.05rem;
    margin: 3rem auto !important;
    opacity: 0.3;
  }

  body {
    background-color: black;
    overflow-x: hidden;
  }
  /* Header Component */

  .bg-image {
    background-image: url("../images/server-main-page.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    width: 100%;
    filter: brightness(0.8) blur(1px);
    height: 680px;
    z-index: -1;
  }
  .bg-image:after {
    background: linear-gradient(
      90deg,
      rgba(26, 30, 34, 0.7),
      rgba(0, 0, 0, 0.8)
    );
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  /* For tablet devices */
  @media (min-width: 601px) and (max-width: 1024px) {
    .bg-image {
      height: 680px;
      /* Add other styles as needed */
    }
  }

  /* FeatureSection Component */
  .service-card:hover {
    /* For mobile devices */
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(
      90deg,
      rgba(26, 30, 34, 0.7),
      rgba(0, 0, 0, 0.8)
    );
  }
}

@layer utilities {
  .bg-gradient-header {
    background: linear-gradient(to right, #8f0ab1, #ed8c32);
  }
  .text-gradient-header {
    background: linear-gradient(to right, #8f0ab1, #ed8c32);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.swiper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.para {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1rem;
}

.solid-button {
  background: #8f0ab1;
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /* hover */
  &:hover {
    font-weight: 600;
    transform: scale(1.02);
  }
}

.ghost-button {
  border: 1px solid #8f0ab1;
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
  /* hover */
  &:hover {
    font-weight: 600;
    transform: scale(1.02);
  }
}
.sub-menu.closed {
  display: none;
}
.sub-menu.open {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: rgb(20, 20, 20);
  border-radius: 5px;
  /* border: 1px solid rgb(56, 56, 56); */
  z-index: 9999;
}
.sub-menu.open > a {
  padding: 1rem 2rem;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  border-bottom: 1px solid rgb(56, 56, 56);
}
@media (max-width: 768px) {
  /* Add these styles in your CSS file or inside a <style> tag in your component */
  .mobileWrapper {
    position: fixed; /* Fixed position to stay over the content */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50; /* Ensure it's above other content */
    background: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
    display: flex;
    flex-direction: column;
    padding-top: 3rem; /* Space for close button */
    padding-left: 10vw;
  }

  .mobileNavClose {
    position: absolute;
    top: 1.5rem; /* Distance from the top */
    right: 2rem; /* Distance from the right */
    background: transparent;
    border: none;
    color: white; /* Color of the 'x' button */
    font-size: 2rem; /* Size of the 'x' button */
    cursor: pointer;
  }

  /* You might want to style your sub-menu differently for mobile view */
  .sub-menu {
    display: none; /* Initially hidden */
  }
  .sub-menu.open {
    position: relative;
  }
  .sub-menu.open > a {
    padding: 5px;
  }
}

/* This is the techSection slider. */
@keyframes slide {
  from { transform: translateX(0); }
  to { transform: translateX(-77%); } /* This ensures that the animation loops back after all of the content has scrolled. */
}

.infinite-scroll {
  display: flex;
  animation: slide 15s linear infinite;
}

.services-bg {
background: linear-gradient(103.36deg, #9E1F9D 0%, #5B055A 100%); 
padding-top: var(--navbar-height); 
min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

.services-button {
  background: #F8DDF8;
  border-radius: 5px;
  border: 1px solid #1F041F;  
  color: #1F041F;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /* hover */
  &:hover {
    font-weight: 600;
    transform: scale(1.02);
  }
}