@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    color: white;
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
