@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    color: white;
  }
  body {
    background-color: black;
  }
}

@layer utilities {
  .text-gradient-header {
    background: linear-gradient(to right, #8F0AB1, #ED8C32);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
